SFDC_URL=https://xxx.my.salesforce.com
SFDC_CLIENT_ID=
SFDC_CLIENT_SECRET=

CHECKMEIN_URL=https://xxx.checkmein.site
CHECKMEIN_USERNAME=
CHECKMEIN_PASSWORD=

DISCORD_BOT_TOKEN=
DISCORD_GUILD_TFI_ID=12345678901234567890
DISCORD_GUILD_TFI_MEMBER_ROLE_ID=12345678901234567890


GROUPS_MEMBERS_EMAIL=members@foo.org
GROUPS_EXCEPTIONS=foo@bar.com

CHECKMEIN_ROLE_CONFIGS=[{"field":"keyholder","group_email":"keyholders@example.org","discord_role_id":"","campaign_id":""},{"field":"steward","group_email":"shopstewards@example.org","discord_role_id":"","campaign_id":""},{"field":"certifier","group_email":"shopcertifiers@example.org","discord_role_id":"","campaign_id":""}]
